<section id="ideas">
    <span class="h1"><a href="<%- url_for('ideas') %>">Ideas</a></span>
    <ul class="post-list">
        <% var all_pages = site.pages.sort('updated', 'desc') %>
        <% var display_pages = limit != null ? all_pages.limit(limit) : all_pages %>
        <% display_pages.each(function(page, i){ %>
            <% if (page.type != 'links-list' && page.type != 'ideas-list' && page.type != 'tags') { %>
            <li class="post-item">
                <span class="meta">
                    <a href="<%= url_for(page.path) %>"><%= page.title %></a>
                </span>
                <%- partial('_partial/post/tag', { tags: page.page_tags }) %>
            </li>
            <% } %>
        <% }); %>
    </ul>
    <% if (limit > 0) { %>
        <span class="more-link"><a href="<%- url_for("ideas") %>">more...</a></span>
    <% } %>
</section>